* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4286;
    color: #333;
    background-color: #fff;
    height: 100%;
    padding: 0;
    margin: 0;
}
main {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
}

header, footer {
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 15px;
}
header:after {
    content: " ";
    display: table;
    clear: both;
}
header .column {
    float: left;
    padding: 0 10px;
}
header .butterfly img {
  margin: -6px 0 -20px;
  width: 80px;
  height: 70px;
}
header .logo img {
  width: 221px;
  height: 72px;
}

header h1 {
  padding-left: 20px;
  padding-top: 20px;
}

section.body {
    padding-bottom: 150px;
}

footer {
    margin-top: -200px;
    height: 160px;
    padding: 15px;
}
footer section {
    height: 100%;
    padding: 20px 30px;
    background: #078ad8;
    color: #fff;
}
footer address {
    font-style: normal;
}
footer .column {
    float: left;
    padding: 0 10px;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 1300px) {
  main {
      width: 1200px;
  }
}
@media (min-width: 992px) {
  header, footer {
      width: 960px;
  }
}
@media (max-width: 991px) {
  header h1 {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  header .logo img {
    width: 110px;
    height: 36px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header .butterfly img {
    margin: -6px 0 -20px;
    width: 53px;
    height: 47px;
  }
}
@media (max-width: 479px) {
  header .butterfly img {
    display: none;
  }
}

h1, h2, h3 { color: #078ad8; line-height: 1.1; }
h1 { font-size: 1.5714em; }
h2 { font-size: 1.0714em; }
h3 { font-size: 0.8571em; }

/**
 * Social Links
 */
 @font-face {
  font-family: 'Entypo Social';
  src: url('../Fonts/entypo-social.eot');
  src: url('../Fonts/entypo-social.eot#iefix') format('embedded-opentype'), url('../Fonts/entypo-social.woff') format('woff'), url('../Fonts/entypo-social.ttf') format('truetype'), url('../Fonts/entypo-social.svg#entypo_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.social-links {
  font-size: 45px;
  line-height: 1;
  margin: 0;
}
.social-links li {
  padding: 0 0 0 10px;
}
.social-links li a {
  text-decoration: none;
  font-family: 'Entypo Social';
  color: white;
}
.social-links li a:hover {
  color: black;
}
.social-links li a.icon_blog:before {
  content: '\F354';
}
.social-links li a.icon_twitter:before {
  content: '\F309';
}
.social-links li a.icon_facebook:before {
  content: '\F30e';
}
.social-links li a.icon_google:before {
  content: '\F30f';
}
