
#viewerContainer, #menu {
  display: block;
  max-width: 1200px;
  margin: auto;
}

#menu {
  background: #078ad8;
  color: #ccc;
  padding: 2px 0 2px 10px;
}

#menu div {
  display: inline-block;
}

#menu > div {
  padding: 2px 10px 2px 0;
  margin: 0 10px 0 0;
  border-right: 1px solid white;
}

#menu > div > div {
  padding: 10px 5px 10px 5px;
  margin: 0;
  height: 42px;
  line-height: 22px;
  vertical-align: middle;
  cursor: pointer;
}

#menu > div > div.enabled {
  color: white;
}

#menu > div > div.active,
#menu > div > div.enabled:hover {
  background: #00679c;
}

#menu input {
  color: #ccc;
  background: #ccc;
  text-align: center;
  height: 22px;
}

#menu div.enabled input {
  color: black;
  background: white;
}

@media screen and (max-width: 991px) {
  #menu .hide-m {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  #menu .hide-s  {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #menu .hide-xs  {
    display: none;
  }
  #menu > div {
    padding-right: 5px;
    margin-right: 5px;
  }
}

#menu_file {
  display: none;
}

#viewerContainer {
  background: #ccc;
  padding-left: 2px;
}

@media (min-height: 961px) and (min-width: 481px) {
  #viewerContainer {
    position: relative;
    height: 700px;
    margin-bottom: 200px;
  }
}

@media (max-height: 960px), (max-width: 480px) {
  header, footer {
    display: none;
  }
  #body {
    overflow:hidden;
    margin: 0;
  }
  body, main, .wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #viewerContainer, #menu {
    width: 100%;
    max-width: none;
    margin: 0;
  }
  #viewerContainer {
    position: absolute;
    top: 50px;
    height: calc(100% - 50px);
  }
}


#loading {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -100px;
}

#busy {
  height: 100%;
  width: 100%;
  display: none;
}

@font-face {
  font-family: 'viewermenusymbols';
  src: url('../Fonts/viewermenusymbols.woff?25958260') format('woff');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "viewermenusymbols";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
   font-size: 120%;
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
 
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e804'; } /* '' */
.icon-up-open:before { content: '\e805'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-cog:before { content: '\e808'; } /* '' */
.icon-zoom-in:before { content: '\e809'; } /* '' */
.icon-zoom-out:before { content: '\e80a'; } /* '' */
.icon-cw:before { content: '\e80b'; } /* '' */
.icon-ccw:before { content: '\e80c'; } /* '' */
.icon-floppy:before { content: '\e80d'; } /* '' */
.icon-folder-open:before { content: '\e80e'; } /* '' */
.icon-comment:before { content: '\e80f'; } /* '' */
.icon-doc:before { content: '\e810'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-left-big:before { content: '\e811'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-right-big:before { content: '\e812'; } /* '' */



#search-form-div{
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    top: 5px;
    right: 27px;
    width: 300px;
    z-index: 901;
    border: 1px solid grey;
    background-color: white;
}
#search-form{
    
    display: table;
    padding: 0px;
    
}
#search-form div{
    display: table-cell;
    color: #444444;
}
#search-form #separator{
    font-size: 150%;
}
#search-form .searchButton{
    padding: 3px;
    height: 100%;
    z-index: 1002;
}
#search-form .searchButton:not(.icon-spin6):hover{
    background-color: #DDDDDD;
}
#searchText {
    width: 180px;
    box-sizing: border-box;
    border: 0px;
    font-size: 16px;
    padding: 10px;
}

.searchTextBusy
{
    position: absolute;
    z-index: 1001;
    background-color: #99ccff ;
    width: 1%;
    height: 100%;
    animation: searchTextBusyAnimation 2s infinite linear;
    pointer-events: none;
}
@keyframes searchTextBusyAnimation {
    from {
        transform: translateX(-1000%);
    }
    to { 
        transform: translateX(11000%);
}
}
@supports(background-blend-mode: multiply)
{
    .searchTextBusy
    {
        background-image: linear-gradient(100deg, white, white 40%, #99ccff 50%, white 60%, white);
        mix-blend-mode: multiply;
        width: 100%;
        height: 100%;
    }
    @keyframes searchTextBusyAnimation {
        from {
            transform: translateX(-80%);
        }
        to { 
            transform: translateX(80%);
        }
    }
}


#searchText.red{
    background-color: #ffbbbb;
}
#searchText.white{
    background-color: #ffffff;
}
#searchText.green{
    background-color: #bbffbb;
}


#search-config-form{
    visibility: hidden;
    position: absolute;
    top: 38px;
    right: 40px;
    z-index: 900;
    width: 180px;
    background-color: #AAAAAA;
    border-radius: 8px;
    box-sizing: border-box;
    opacity: 0.6;
    padding: 10px;
}
#search-config-form:hover{
    opacity: 0.9;
}
#search-config-form div{
    display: block;
}


